.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url("./resources/images/headerBar.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-navbar {
  /* background-color: #585a5e; */
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 10vh;
}

.divSpacing {
  min-height: 6vh;
}

.navbar_button {
  color: #61dafb;
  background-color: transparent;
  border: 1px solid transparent;
}

.login-fix {
  text-align: center;
}

.card-styling-reg {
  width: 23rem;
  height: 27em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  border-color: 10px black;
}

.card-styling-log {
  width: 23rem;
  height: 15em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  border-color: 10px black;
}

.jumbotron-add {
  width: 100%;
  min-height: 10em !important;
  max-height: 15em !important;
}

.jumbotron {
  padding: 2rem 1rem;
}

.break-word {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-size {
  height: fit-content;
  display: inline-block;
}